<div id="header">
    <div id="homebutton">
        <a href={{ref . "/"}}>
            <img src="/images/kunugi_home.png" alt="kunugirasuku" height="30"/>
        </a>
    </div>
    <div id="superhead">
		<div id="titleimage">
			<a href={{ref . "/"}}>
				<img class="circle_image" src="/images/kunugirasuku_icon.jpg" alt="kunugirasuku" height="150"/>
			</a>
		</div>
        <div id="title">
            <h2 class=white>kunugi's room</h1>
        </div>
        <div id="author">
            <h3 class=white>kunugi rasuku</h2>
        </div>
		<div id=menubar>
			<ul id="menulist">
				<li>
					<a href={{ref . "/about"}} class=white>About</a>
				</li>
				<li>
					<a href={{ref . "/blog"}}>Blog</a>
				</li>
				<li>
					<a href={{ref . "/works"}}>Works</a>
				</li>
				<li>
					<a href={{ref . "/link"}}>Link</a>
				</li>
				<li>
					<a href={{ref . "/contact"}}>Contact</a>
				</li>
			</ul>
		</div>
	</div>
</div>