{{ define "main" }}
	{{ if .Params.fixed }}
	<div id="singlecolumn">
		<div id="window">
			<div class="windowTitle">
				{{ with .Params.subtitle }}
				<div id="subtitle">
					<h2>{{ . }}</h2>
				</div>
				{{ end }}
			</div>
			<div class="windowBody">
				<div class=contentbody>
					{{ .Content }}
				</div>
			</div>
		</div>
	</div>
	{{ else }}
	<div id=column>
	{{ range $elem := .Data.Pages }}
		{{with $elem.Summary}}
		<a class=nounderline href={{$elem.Permalink}}>
			<div class=window >
				<div class=windowTitle><h3>{{$elem.Title}}</h3></div>
				
				<div class=windowBody>{{$elem.Summary}}</div>
				<div class=windowDate>{{$elem.Date.Format "2006/01/02"}}</div>
			</div>
		</a>
		{{else}}
			<a class=nounderline href={{$elem.Permalink}}>
				<div class=smallList>
					<div class=smallListBody>{{$elem.Title}}</div>
				</div>
			</a>
		{{end}}
	{{ end }}
	</div>
	{{ end }}
{{ end }}
