{{ define "main" }}
<div class=rightbox>
  <div id=homesign>
    Home
  </div>
  <div id=hometext>
  digの遊ぶ場所！
  多分色々いじって見れるようにする。ブログもその一貫？で書くかも。わからないけど。ゲームの話もする。ポケモンとかロルとか？本はそんなに今は読めない…そんな感じで掘り下げていく
  </div>
</div>
<div class=rightbox>
  <div id=headlinesign>
    Head Line
  </div>
  2020/02/27
  とりあえず作ってみた
</div>
<div class=rightbox>
  <div id=aboutmesign>
    About Me
  </div>
    Digです
</div>
<div class=rightbox>
  <div id=sitemapsign>
    Site Map
  </div>
  <div id=sitemaptext>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Home
      </div>
      <div class=sitemapitemtext>
        トップページはここ
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        About
      </div>
      <div class=sitemapitemtext>
        自己紹介しよう
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Blog
      </div>
      <div class=sitemapitemtext>
        ブログを書きたいとは思ってる
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Work
      </div>
      <div class=sitemapitemtext>
        作った作品を載せるよ
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Link
      </div>
      <div class=sitemapitemtext>
        各種リンクのリスト
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Contact
      </div>
      <div class=sitemapitemtext>
        お問い合わせはこちらまで
      </div>
    </div>
  </div>
</div>
{{ end }}
