{{ define "main" }}
<div class=rightbox>
  <div id=homesign>
    Home
  </div>
  <div id=hometext>
  くぬぎの個人的なwebサイトです！
  多分色々いじって見れるようにする。ブログも書くかも。わからないけど。作曲やゲームの話もする。ポケモンとかLoLとか？本の話もしたいな。
  </div>
</div>
<div class=rightbox>
  <div id=headlinesign>
    Head Line
  </div>
  <div class=hometext>
    そういうのが来る
  </div>
</div>
<div class=rightbox>
  <div id=aboutmesign>
    About Me
  </div>
  <div class=hometext>
    くぬぎと言います！プログラミングとか作曲とかしてます。
  </div>
</div>
<div class=rightbox>
  <div id=sitemapsign>
    Site Map
  </div>
  <div id=sitemaptext>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Home
      </div>
      <div class=sitemapitemtext>
        トップページはここ
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        About
      </div>
      <div class=sitemapitemtext>
        自己紹介しよう
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Blog
      </div>
      <div class=sitemapitemtext>
        ブログを書きたいとは思ってる
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Work
      </div>
      <div class=sitemapitemtext>
        作った作品を載せるよ
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Link
      </div>
      <div class=sitemapitemtext>
        各種リンクのリスト
      </div>
    </div>
    <div class=sitemapitem>
      <div class=sitemapitemhead>
        Contact
      </div>
      <div class=sitemapitemtext>
        お問い合わせはこちらまで
      </div>
    </div>
  </div>
</div>
{{ end }}
