<div id=menusign>
  Menu
</div>
<div class=menuitem>
  <a href="https://master.d1hmcp4oiummek.amplifyapp.com"> Home </a>
</div>
<div class=menuitem>
  <a href="https://master.d1hmcp4oiummek.amplifyapp.com/about/"> About </a>
</div>
<div class=menuitem>
  Blog
</div>
<div class=menuitem>
  Work
</div>
<div class=menuitem>
  <a href="https://master.d1hmcp4oiummek.amplifyapp.com/link/"> Link </a>
</div>
<div class=menuitem>
  <a href="https://master.d1hmcp4oiummek.amplifyapp.com/contact/"> Contact </a>
</div>
